h1 {
    font-size: 600%;
    line-height: 200%;
}

h2 {
    font-size: 300%;
}

h3 {
    font-size: 250%;
}

p {
    font-size: 200%;
}

.blue_em em, .blue_strong strong {
	color: #1167bd;
	font-style: normal;
}

.blue_em em {
  font-weight: normal;
}

.blue_em li {
  font-size: 120%;
  line-height: 200%;
}

.blue_strong strong {
  font-weight: bold;
}

.green_em em {
  color: #71bc48;
  font-style: normal;

}

.paragraph img {
	margin: 0 auto;
}

#landingpage .font_medium {
  font-size: 100%;
}

#landingpage .font_xx_small {
  font-size: 40%;
}

#landingpage .font_x_small {
  font-size: 60%;
}

#landingpage .font_small p {
  font-size: 175%;
}

#landingpage .font_small h1 {
  font-size: 400%;
}

#landingpage .font_small  h2 {
  font-size: 300%;
}

#landingpage .font_small  h3 {
  font-size: 200%;
}

#landingpage .font_large {
  font-size: 120%;
}

#landingpage .font_x_large {
  font-size: 140%;
}

#landingpage .font_xx_large {
  font-size: 160%;
}

.left_border .row {
  background: url("images/divider.png") center repeat-y;
}

.left_border a {
  font-size: 80%;
}

.left_border .paragraph--type--landingpage-textarea.paragraph--view-mode--clean {
  padding-left: 4em;
  padding-right: 4em;
}

.paragraph--type--landingpage-textfield-links {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}


ul.navbar-nav li:last-child a {
   color: #1167bd;
}

@media only screen and (max-width: 768px) {

.left_border .row {
  background: none;
}

.fix_mobile_align {
  text-align: center;
}

.fix_mobile h1 {
      font-size: 300%;
      line-height: 100%;
  }

.fix_mobile h2 {
      font-size: 150%;
  }

.fix_mobile h3 {
      font-size: 125%;
  }

.fix_mobile p {
      font-size: 100%;
  }

/*  #landingpage .font_small p {
    font-size: 90%;
  }

  #landingpage .font_small h1 {
    font-size: 200%;
  }

  #landingpage .font_small  h2 {
    font-size: 150%;
  }

  #landingpage .font_small  h3 {
    font-size: 100%;
  }*/

  .paragraph img {
    padding: 0px 100px 0px 100px;
  }  

}